<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Red Social</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bg-light-blue">
  <!-- navigation -->
  <header class="bg-blue">
    <div class="container">
     <nav class="nav bg-blue">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo left"><img src="../assets/images/logos1.png" alt="" class="logo"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a  href="#">Sobre Nosotros</a></li>
            <li><a  href="#">Registrarse</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li>
              <div class="user-view">
                <div class="background">
                  <!-- <img src="../assets/images/office.png"> -->
                </div>
                <a href="#!user"><img class="responsive-img" src="../assets/images/logo.png"></a>
              </div>
            </li>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Registrarse</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- form -->
  <div class="container form-login bg-beige">
    <label for="email">Email</label>
    <input id="email" type="email" class="validate">
    <label for="password">Password</label>
    <input id="password" type="password" class="validate">
    <br><br>
    <div class="text-center">
      <button class="btn btn-account" id="button-login" disabled="true">inicia sesión</button>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script src="../js/login.js"></script>
</body>
</html>