<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Red Social</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bg-light-blue">
  <!-- navigation -->
  <header class="bg-blue">
    <div class="container">
     <nav class="nav bg-blue">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo left">myplace</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a id="group" href="#"><i class="material-icons">group</i></a></li>
            <li><a id="notifications" href="#"><i class="material-icons">notifications</i></a></li>
            <li><a id="message" class="modal-trigger" href="#modal1"><i class="material-icons">message</i></a></li>
            <li><a href=""><i class="material-icons">account_circle</i></a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li>
              <div class="user-view">
                <div class="background">
                  <img src="images/office.jpg">
                </div>
                <a href="#!user"><img class="circle" src="../assets/images/users/user.jpg"></a>
                <a href="#!name"><span class="white-text name">John Doe</span></a>
                <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
              </div>
            </li>
            <li><a href="#!"><i class="material-icons">group</i>Amigos</a></li>
            <li><a href="#!">Notificaciones<i class="material-icons">notifications</i></a></li>
            <li><a class="modal-trigger" href="#modal1">Mensaje<i class="material-icons">message</i></a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="#!">Cerrar Sesion</a></li>
          </ul>
        </div>
      </nav>
    </div>
   </header>
  <!-- Seccion Principal -->
  <section id="main">
    <div class="container">
      <div class="row">
        <div class="col s3 m3 l3"></div>
        <div class="col s9 m9 l9"></div>
      </div>
    </div>
  </section>
  <button id="bt">prueba</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Inicia conversacion</h4>
      <div class="container">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Contacto" id="first_name" type="text" class="validate">
                <label for="first_name">Para:</label>
              </div>
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Mensaje</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" id="" class="modal-action modal-close waves-effect waves-green btn-flat">Enviar Mensaje</a>
    </div>
  </div>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script src="../js/publications.js"></script>
</body>
</html>