<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Red Social</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bg-light-blue">
  <!-- navigation -->
  <header class="bg-blue">
    <div class="container">
      <nav class="nav bg-blue">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo left"><img src="../assets/images/logos1.png" alt="" class="logo"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a id="group" href="#"><i class="material-icons" data-activates='dropdown1'>group</i></a></li>
            <li><a id="notifications" href="#"><i class="material-icons">notifications</i></a></li>
            <li><a id="message" class="modal-trigger" href="#modal1"><i class="material-icons">message</i></a></li>
            <li><a href=""><i class="material-icons">account_circle</i></a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo" class="bg-beige">
            <li>
              <div class="user-view">
                <div class="background">
                  <!-- <img src="images/office.jpg"> -->
                </div>
                <a href="#!user"><i class="material-icons">account_circle</i></a>
                <a href="#!name"><span class="white-text name">Nataly Otero</span></a>
                <a href="#!email"><span class="white-text email">noteroc@hotmail.com</span></a>
              </div>
            </li>
            <li><a href="#!"><i class="material-icons">group</i>Amigos</a></li>
            <li><a href="#!">Notificaciones<i class="material-icons">notifications</i></a></li>
            <li><a class="modal-trigger" href="#modal1">Mensaje<i class="material-icons">message</i></a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="#!">Cerrar Sesion</a></li>
          </ul>
        </div>
      </nav>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul>
    </div>
  </header>
  <div class="container" id="main">
    <div class="row ">
      <div class="col s12 m3 l3 bg-beige card-profile vh420">
        <img class="img-user img-user-2" src="../assets/images/moon.jpg" alt="img-user">  
        <div class="username">
          <span id="user"></span>
          <hr>
        </div>
        <div class="card-profile-stats-container text-center">
          <div class="card-profile-stats-statistic  ">
            <span class="stat ft-grey">1</span>
            <p>posts</p>
          </div>
          <div class="card-profile-stats-statistic">
            <span class="stat ft-grey">1</span>
            <p>friends</p>
          </div>
          <!-- /.card-profile-stats-statistic -->
          <div class="card-profile-stats-statistic">
            <span class="stat ft-grey">2</span>
            <p>interest</p>
          </div>
        </div>
      </div>
      <div class="col s12 m7 offset-m2 l6 offset-l3 bg-beige card-profile">
        <img class="img-user img-user-3 user-publish" src="../assets/images/moon.jpg" alt="img-user">        
        <textarea name="" id="textarea" cols="30" rows="10"></textarea>
        <img id="img1" class="img-input">
        <br>
        <form class="form" action="#">
          <div class="file-field input-field">
            <div class="indigo-text ">
              <span class="material-icons">camera_alt</span>
              <input type="file" id="img-file">
              <span class="material-icons">videocam</span>
              <!-- <input type="file"> -->
            </div>
          </div>
        </form>
        <div>
          <input id="posting" type="button" class="btn teal btn-publish" value="Publicar">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 offset-m3 l12  card-profile bg-beige" id="container-publish">

      </div>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal bg-beige">
    <div class="modal-content">
      <h5 class="text-center">Inicia conversacion</h5>
      <div class="container">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Contacto" id="first_name" type="text" class="validate">
                <label for="first_name">Para:</label>
              </div>
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Mensaje</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer bg-beige">
      <a href="#!" id="" class="modal-action modal-close waves-effect waves-green btn-flat">Enviar Mensaje</a>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script src="../js/newsfeed.js"></script>
</body>
</html>